{"tabWidth":4,"useTabs":true,"semi":true,"singleQuote":false,"trailingComma":"es5","bracketSpacing":true,"arrowParens":"always","endOfLine":"lf","printWidth":120,"jsxSingleQuote":false,"bracketSameLine":true,"htmlWhitespaceSensitivity":"css","embeddedLanguageFormatting":"auto"}
